h1{
    text-align: center;
    color:black;
    background-color: gray;   
}
h2{
    text-align: center;
    color:palevioletred;
}
.jumbotron{
    
    background-attachment: fixed;
}
.well{
    background-color: grey;
}
.panel{
    background-color: brown;
    background-size: contain; 
    position: relative;
}
#fifth-p{
    visibility: hidden;
    background-color: burlywood;
    height:400px;
}

#fifth-p p{
    text-align: center;
    font-size: 50px;
}